---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 160
---
Language: Cpp
Standard: Cpp11

# Tune some indentations
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 8

# Only control statements should have spaces
SpaceBeforeParens: ControlStatements

# No block and its body should EVER be on a single line
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
#AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Don't mess with my comments
CommentPragmas:  '^[^ ]'

# Templates should always be on a separate line
AlwaysBreakTemplateDeclarations: true

# Tabs are bad news
UseTab: Never

# Configure comments
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1

# Avoid empty lines
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

# Force pointers to the type
DerivePointerAlignment: false
PointerAlignment: Left
