[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "make-utils"]
	path = make-utils
	url = https://github.com/wichtounet/make-utils.git
	branch = master
[submodule "include/etl/cpp_utils"]
	path = include/etl/cpp_utils
	url = https://github.com/wichtounet/cpp_utils.git
	branch = master
