[submodule "make-utils"]
	path = make-utils
	url = https://github.com/wichtounet/make-utils.git
	branch = master
[submodule "lib/include/cpp_utils"]
	path = lib/include/cpp_utils
	url = https://github.com/wichtounet/cpp_utils.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/wichtounet/etl.wiki.git
[submodule "cpm"]
	path = cpm
	url = https://github.com/wichtounet/cpm.git
[submodule "doctest"]
	path = doctest
	url = https://github.com/onqtam/doctest.git
	branch = dev
